<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="css/bootstrap.css" rel="stylesheet" media="all" />
    <link href="css/style.css" rel="stylesheet" media="all" />
    <link href="css/memenu.css" rel="stylesheet" media="all" />
    <link rel="stylesheet" charset="UTF-8" href="css/slick.min.css" />
    <link rel="stylesheet" href="css/slick-theme.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"/>
    <title>Diamond Fashion</title>
    <link href="/static/css/main.c17080f1.css" rel="stylesheet">
</head>

<body>
    <noscript>You need to enable JavaScript to run this appilication.</noscript>
    <div id="root"></div>
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="js/origin.js"></script>
    <script type="text/javascript" src="/static/js/main.97d46d8c.js"></script>
</body>

</html>