<section id="popularbrands" class="container">
<h1 class="heading1"><span class="maintext">Popular Brands</span><span class="subtext"> See Our  Popular Brands</span></h1>
<div class="brandcarousalrelative">
  <ul id="brandcarousal">
    <li><img src="/img/brand1.jpg" alt="" title=""/></li>
    <li><img src="/img/brand2.jpg" alt="" title=""/></li>
    <li><img src="/img/brand3.jpg" alt="" title=""/></li>
    <li><img src="/img/brand4.jpg" alt="" title=""/></li>
    <li><img src="/img/brand1.jpg" alt="" title=""/></li>
    <li><img src="/img/brand2.jpg" alt="" title=""/></li>
    <li><img src="/img/brand3.jpg" alt="" title=""/></li>
    <li><img src="/img/brand4.jpg" alt="" title=""/></li>
    <li><img src="/img/brand1.jpg" alt="" title=""/></li>
    <li><img src="/img/brand2.jpg" alt="" title=""/></li>
    <li><img src="/img/brand3.jpg" alt="" title=""/></li>
    <li><img src="/img/brand4.jpg" alt="" title=""/></li>
  </ul>
  <div class="clearfix"></div>
  <a id="prev" class="prev" href="#">&lt;</a>
  <a id="next" class="next" href="#">&gt;</a>
</div>
</section>