<div class="drop-men" >
    <ul class=" nav_1">
        <li class="dropdown at-drop" id="notifications">
        <a href="#" class="dropdown-toggle dropdown-at " data-toggle="dropdown">
            <i class="fa fa-globe"></i> <span class="number">{{ notis.length }}</span>
        </a>
        <ul class="dropdown-menu menu1 " role="menu">
            <li v-for="(item, index) in notis">
                <a href="#" @click="watched(item._id)">
                    <div class="user-new">
                    <p>{{ item.content }}</p>
                    <span>Chưa xem</span>
                    </div>
                    <div class="user-new-left">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                    <div class="clearfix"> </div>
                </a>
            </li>
            <li><a href="#" class="view">Make all is viewed!</a></li>
        </ul>
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown">
            <span class=" name-caret"><%= user.username %><i class="caret"></i></span>
            <img src="/img/avata.jpg" height="60px" width="60px"></a>
        <ul class="dropdown-menu " role="menu">
            <li><a href="profile.html"><i class="fa fa-user"></i>Trang cá nhân</a></li>
            <li><a href="inbox.html"><i class="fa fa-envelope"></i>Đổi mật khẩu</a></li>
            <li><a href="/logout"><i class="fa fa-envelope"></i>Đăng xuất</a></li>
        </ul>
        </li>
    </ul>
</div>