
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Minimal an Admin Panel Category Flat Bootstrap Responsive Website Template | Signin :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/admin/css/style.css" rel='stylesheet' type='text/css' />
<link href="/admin/css/font-awesome.css" rel="stylesheet"> 
<script src="/admin/js/jquery.min.js"> </script>
<script src="/admin/js/bootstrap.min.js"> </script>
<link href="/admin/css/toastr.min.css" rel="stylesheet">
</head>
<body>
  <div class="login">
    <h1><a href="/" style="color:#F25C27; ">Diamonds Admin </a></h1>
    <div class="login-bottom">
      <h2>Login</h2>
      <form method="post" action="/login/admin">
      <div class="col-md-6">
        <div class="login-mail">
          <input type="text" placeholder="user name" name="username" required="">
          <i class="fa fa-envelope"></i>
        </div>
        <div class="login-mail">
          <input type="password" placeholder="Password" name="password" required="">
          <i class="fa fa-lock"></i>
        </div>
           <a class="news-letter " href="#">
             <label class="checkbox1"><input type="checkbox" name="checkbox" ><i> </i>Forget Password</label>
             </a>

      
      </div>
      <div class="col-md-6 login-do">
        <label class="hvr-shutter-in-horizontal login-sub">
          <input type="submit" value="login">
          </label>
          <p>You are not admin ?</p>
        <a href="/" class="hvr-shutter-in-horizontal">Back to home</a>
      </div>
      
      <div class="clearfix"> </div>
      </form>
    </div>
  </div>
    <!---->
<div class="copy-right">
            <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>     </div>  
<!---->
<!--scrolling js-->
  <script src="/admin/js/jquery.nicescroll.js"></script>
  <script src="/admin/js/scripts.js"></script>
  <script src="/admin/js/toastr.min.js"> </script>
  <!--//scrolling js-->
  <% if(typeof failureMessage !== 'undefined') {%> 
    <script>
      toastr.options.closeButton = true;
      toastr.error('Invalid username or password!');
    </script>
  <% } %>
</body>
</html>

